<!DOCTYPE HTML>

<html>
	<head>
		<title>Abdullah Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48" style="border-radius: 50%; overflow: visible; background-color: transparent;">
								<img src="static\images\Abdullah.jpg" alt="" style="border-radius: 50%; width: 60px; height: 60px;" />
							</span>
							<h1 id="title">Abdullah Nadeem</h1>
							<p>Data Scientist</p>
						</div>
						
					
					

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Introduction</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">My Projects</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contact</span></a></li>
							    <li><a href="static/Abdullah-Resume-pf (1).pdf" id="resume-link" target="_blank"> <span class="icon solid fa-file">My Resume</span> </a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/Abdullah297846" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/abdullah-nadeem-45b691215/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://instagram.com/abdullah_nadeem02?igshid=ZW1xYnd0ZHVudjV4" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.facebook.com/profile.php?id=100014045764526&mibextid=aejMdD" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							
							<li><a href="mailto:Abdullahnadeem1@outlook.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>

							
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Hi! I'm <strong>Abdullah Nadeem</strong><br />
								Welcome to my space!</h2>
								<p><strong>I am a Data Scientist | ML Engineer,<br />
								a small-time Web and Software Developer, and a Crypto Analyst</strong></p>
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">Know me!</a>
							</footer>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>My Projects</h2>
							</header>

							<p>My Projects vary from Machine-Learning models to</b>
							 Natural Language Processing.</b>
							 
							 
							 Take a look at my recent work!</b> 
						     </p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/Abdullah297846/Technocolabs-Softwares-Data-Analyst-Mini-Project--BigMart-Sales-Outlet" class="image fit"><img src="static\images\sale_prediction.jpg" alt="" /></a>
										<header>
											<h3>1. Big mart sales </b> Prediction</b>
											using ML-models</h3>
										</header>
									</article>
									<article class="item">
										<a href="https://github.com/Abdullah297846/Final-project-Techno-p2p" class="image fit"><img src="static\images\p2p.jpg" alt="" /></a>
										<header>
											<h3>2. Predictive Analysis Using Social Profile in Online P2P Lending</b>
											using ML models</b> in Python</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/Abdullah297846/LangChain/tree/main/LangChain" class="image fit"><img src="static\images\gpt.png" alt="" /></a>
										<header>
											<h3>3. AI Chatbot app with GPT-3 </b>
											using stream-lit framework</h3>
										</header>
									</article>
									<article class="item">
										<a href="https://github.com/Abdullah297846/CIFAR-10-Image-Classification-using-flask" class="image fit"><img src="static/images/pic05.jpg" alt="" /></a>
										<header>
											<h3>4. CIFAR-10 Image Classification</b>
											using Flask-microframework,</b> Python, HTML/CSS, and SQL</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="https://github.com/Abdullah297846/Sentiment-Analysis-Using-LSTM-" class="image fit"><img src="static\images\imdb.png" alt="" /></a>
										<header>
											<h3>5. Sentiment Analysis using LSTM, TensorFlow, and Keras.</b>
												Do live predictions based on sentiments</b>
										      either it's positive or negative</h3>
										</header>
									</article>
									<article class="item">
										<a href="https://github.com/Abdullah297846/Potato-Disease-Classfication-using-CNN-model" class="image fit"><img src="static\images\Potato.JPG" alt="" /></a>
										<header>
											<h3>6. Potato Disease Classfication</b>
												using CNN. </b><strong>Aim:</strong> Classify various diseases that impact potato plants</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="static\images\back.jpg" alt="" /></a>

							<p>My name is Abdullah Nadeem, and I work as a Data Scientist at Programmers Force in Lahore, Pakistan. I'm a creative thinker and a passionate storyteller who is deeply enthusiastic about data. I thrive on turning raw data and observations into compelling narratives, and I'm always excited about the journey in between. One of my notable projects involved enhancing credit card fraud detection using advanced velocity rules. I trained a machine learning model that significantly improved the accuracy and efficiency of fraud detection. These enhancements have been implemented and are now live, serving users from all around the world. In addition to my technical skills, I pride myself on being assertive and an effective team player. I'm not only a problem solver but also a leader, capable of taking charge when needed. I plan to carry these qualities forward, wherever my career takes me.</p> 

						</div>
					</section>



				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h3>Contact</h3>
							</header>

							<p>You can find my projects on Github and connect with me on LinkedIn. Should you have any additional questions, feel free to drop me your message by typing below.Reach out to me by entering your Name, E-mail address, and your message. Thanks!</p>

							<form method="post" action="/submit_form">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" id="name" required="required" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="email" name="email" id="email" required="required" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" rows="7" required="required" placeholder="Enter your message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>


		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>